@import '_colors';
@import '~font-awesome/css/font-awesome.css';
 


.myclass{
 font-family: "alien";
}

@font-face {
    font-family: "alien";
    src: url('../fonts/aliendude.ttf') format("truetype") ;

    font-weight: 600;
    font-style: normal;
  }

  $font-stack: Helvetica, sans-serif;
$primary-color: #1dbe4d;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $bgcolor;
  &:fullscreen {
	background-color: $bgcolor; // propriété CSS peu supportée par les navigateurs qui devrait être auto-préfixée en mode production
  }
}

#img {
  background-image: url('../media/man.jpg') ;
  width:500px;
  height:400px;
} 

.coco {

  color: $primary-color;
}